.version-label {
	font-size: 10px;
	margin-left: 5px;
}

#recent-video-cont, .section-header {
    font-size: 14px;
}
#recent-video {
    height: 80px;
    padding: 3px;
    margin: 2px;
    border: 1px solid var(--border-color-dim);
    border-radius: 4px;
    background: linear-gradient(
        0deg, 
        var(--background-color-2) 0%,
        var(--background-color-3) 100%
    ); 
    position: relative;
}
#recent-video-loading-cover {
    position: absolute;
    top:0;left:0;
    height:100%;width:100%;
    background: var(--background-color);
    z-index: 1;
}
#recent-video:focus {
    background: linear-gradient(
        0deg, 
        var(--accent-color-1) 0%, 
        var(--accent-color-2) 100%
    ); 
    border: 1px solid var(--border-color);
    color: var(--hilight-text);
}
#recent-video > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#recent-video-title {
    height: 20px;
}
#recent-video-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#recent-video-thumbnail-cont {
    float:left;
    width: 80px;
    height:60px;
    margin-right: 3px;
    position: relative;
    background: #000;
}
#recent-video-runtime {
    position: absolute;
    bottom: 0; right: 0;
    background: var(--background-color-o75);
    color: var(--text-color);
}

/* home-menu */
#home-menu {
    width: 100%;
}
#home-menu-btns.vertical-center {
    top: 55%;
}
#home-menu-cont {
    text-align: center;
}
#home-menu-btns > div {
    display: inline-block;
    /* width: 48px;
    height: 48px; */
    padding: 4px;
}
#home-menu-btns > div:focus {outline: 1px solid var(--border-color);}
#home-menu-btns > div > div {
    position: relative;
    width:  40px;
    height: 40px;
}

