#content-boundary {position: relative;height: calc(100% - 40px)}
#channel-picture {vertical-align: top;}
#channel-identity, #channel-name, #channel-banner-name-cont {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#channel-picture {
    float:left;
    height: 36px;
    padding: 5px 5px 0 0;
}
#channel-identity-subtitle {font-size: 14px}
#channel-shortinfo {font-size: 12px;}

#channel-topinfo {padding: 0 5px}
#channel-banner, #channel-banner-cont {width: 100%;height:40px;position: relative}
#channel-banner-name-cont {
    position: absolute;
    top:0;left:0px;
    width:100%;height:100%;
    padding: 0 5px;
    background:var(--background-color-o75);
    display: none;
    width:calc(100% - 10px);
}
#channel-banner-name {position: absolute;top:50%;transform:translatey(-50%)}

#channel-description-cont {
    position: absolute;
    overflow-x:hidden;
    overflow-y:scroll;
    left:0;top:0;
    width:100%;height:100%;
    opacity: 0;
    background: var(--background-color);
}
#channel-description {padding: 5px;}

body.descshow #channel-banner-name-cont {display: unset}
body.descshow #channel-description-cont {opacity: 1;}