:root {
    /* bg color is #fff */
    --background-color-r: 255;
    --background-color-g: 255;
    --background-color-b: 255;

    --background-color-2: #d2d2d2;
    --background-color-3: #c8c8c8;

    --background-color-navbar: var(--background-color-3);

    --text-color: #000;
    --text-color-dim: #555;
    --text-link-color: #00f;
    --header-text-color: #fff; /* against --accent-color-2 */
    --hilight-text: #fff; /* against --accent-color-1 */

    --throbber-primary: #000;
    --throbber-background: #ccc;

    --icon-invert: 1;
    --icon-navbar-invert: 1; /* against --background-color-navbar */

    --time-bar-background: #444;
    --time-bar-foreground: var(--accent-color-2); /* c80000 */

    --border-color: #000;
    --border-color-dim: #777;
    --border-color-focus: #fff;
    --button-gradient-color-1: rgb(255, 184, 184);
    --button-gradient-color-2: rgb(255, 113, 113);

    --error-screen-gradient-color-1: #500;
    --error-screen-gradient-color-2: #100;
    --error-screen-text-color: #000;
    --error-screen-text-shadow-color: #000;
}