body {
    margin: 0;
    background: #000;
    color: #fff;
}

iframe {
    position: absolute;
}

#alertMessage {
    --nudge-buffer: 20px;
    transition: transform 0.1s;
    transform: translateY(-100%);
    position: absolute;
    top: calc(var(--nudge-buffer) * -1);
    width: 90vw;
    padding: calc(var(--nudge-buffer) + 5px) 5vw 5px;
    height: auto;
    z-index: 100;
    background: rgba(37,37,37,0.75);
}
#alertMessage.showing {
    transform: translateY(0);
}
#alertMessage.nudgeAnimation {
    animation-name: nudge;
    animation-duration: 0.12s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes nudge {
    from {transform: translateY(0)}
    to {transform: translateY(6px)}
    /* to {transform: translateY(var(--nudge-amount))} CANT USE VAR IN KEYFRAMES... */
}