#actions b {
    display: block;
    padding: 0 5px;
}

#actions-vertical-positioner {width: 100%;}

/*** actions ***/
/* default selected */
#actions-video {text-align: center;}

#actions-video > div,
#actions-video > div > div
{position: relative;}

#actions-video > div { /* actions video entry */
    display: inline-block;
    margin: 2px 0px;
    padding: 3px;
    text-align: center;
    vertical-align: top;
}

#actions-video > div > div {
    width: 26px;
    height: 26px;
}

#actions-video > div:focus { outline: 1px solid var(--border-color)}
#actions-video-label {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5px 10px;
	height: 24px;
}


.relatedsel #actions-video-cont {opacity: 0.5;}
.relatedsel #actions-video {display: none;}
.relatedsel #actions-video-label {display: none;}

/*** relateds ***/
/* default not selected */
#actions-relatedvids-scrollbarhider {
    height: 90px;
    overflow: hidden;
}
#actions-relatedvids {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100px;
    scrollbar-width: none;
    position: relative;
    top: 0;
}
#actions-relatedvids-cont {height: 50px;overflow:hidden;}
#actions-relatedvids-curvid-data {display: none;}

#actions-relatedvids > div {
    display: inline-block; 
    position: relative;
    margin: 0 5px;
    top: 5px;
    vertical-align: middle;
    box-shadow: 0 0 5px var(--border-color);

    --relvheight: 40px;
    height: var(--relvheight); 
    width: 54px;
}
#actions-relatedvids-curvid-title {position: relative;}
.relatedsel #actions-relatedvids-curvid-data {white-space: nowrap;overflow: hidden}
.relatedsel #actions-relatedvids-curvid-data > div {
	padding-left: 5px; 
	position: relative;
	height: 22px;
}
#actions-relatedvids > div > div {
    position: absolute;
    right:0; bottom:0;
    background: var(--background-color-o75);
}
#actions-relatedvids > div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: #000;
}
#actions-relatedvids-curvid-author-cont {font-size: 14px}

#actions-relatedvids > div {font-size: 10px;}
/* .relatedsel #actions-relatedvids > div:focus, */
.relatedsel #actions-relatedvids > div.active {font-size:unset}


#actions-relatedvids > div.nowplaying::before {
    content: '';
    position: absolute;
    top:0;left:0;
    background-color: var(--background-color-o75);
    background-image: url('/img/play-big.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(var(--relvheight) * 0.4);
    width: 100%;
    height: 100%;
}
/* #actions-relatedvids > div.active.nowplaying::before {

} */

.relatedsel #actions-relatedvids {top: 50%; transform: translateY(-50%)}
.relatedsel #actions-relatedvids-cont {height: unset;}
.relatedsel #actions-relatedvids-curvid-data,
/* #actions-relatedvids > div:focus > div, */
#actions-relatedvids > div.active > div
{display: unset;}
.relatedsel #actions-relatedvids > div {top: 10px;}
.relatedsel #actions-relatedvids > div:first-child {margin-left: 150px;}
.relatedsel #actions-relatedvids > div:last-child {margin-right: 150px;}

.relatedsel #actions-relatedvids > div.active {
    width: 107px;
    --relvheight: 80px
}


#actions-relatedvids-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
#actions-relatedvids-text-count{
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
    margin-right: 5px;
    padding: 0 3px;
    font-weight: normal;
}

/* related vids placeholder when it is loading. */
#actions-relatedvids-loading-placeholder {
    height: 72px;
}