
/* comments */
#data-moreinfo-body > div.data-comments-container {
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.data-comments-container > div {
    padding: 5px;
}
.data-comments-container > div:focus {
    /* outline: 1px solid var(--border-color); */
    background: var(--accent-color-1);
    color: var(--hilight-text);
}
.data-comments-container > div:focus .icon {
    filter: invert(var(--focus-invert));
}

.data-comments-metadata {
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
}
.data-comments-metadata img {
    position: relative;
    top: 1px;
    padding: 0 2px;
    filter: invert(var(--icon-invert));
}
.data-comments-name {
    font-weight: bold;
    font-size: 14px;
    /* padding-top: 5px; */
    /* margin-top: 5px; */
    /* border-top: 1px solid var(--border-color-dim); */
}
.data-comments-name-channelowner {
    --iconsize: 20px;
    padding-left: calc(var(--iconsize) + 2px);
    position: relative;
}
.data-comments-name-channelowner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--iconsize);
    height: var(--iconsize);
    background-image: url("/img/upload.png");
    background-repeat: no-repeat;
    background-size: var(--iconsize);
    filter: invert(var(--icon-invert));
}

.data-comments-img {
    width: 36px; height: 36px; float: left; position: relative;
}

.data-comments-comment-container {
    margin: 2px 0 4px 50px;
    padding: 0 5px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    border-radius: 2px;
    font-size: 14px;
    white-space: pre-line;
    position: relative;
}
.data-comments-comment-top-reply {
    /* border-width: 1px none;
    border-style: solid none;
    border-color: var(--border-color); */
    border-bottom: 1px solid var(--border-color);
    --reply-indicator-height: 1.5rem;
    margin-bottom: var(--reply-indicator-height);
    position: relative;
}
.data-comments-comment-top-reply-border {
    font-style: italic;
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    --padding: 5px;
    width: calc(100% - (var(--padding) * 2));
    padding: 0 var(--padding);
    bottom: calc(var(--reply-indicator-height) * -1);
    left: 0;
}

.data-comments-comment {
    max-height: 4.5rem;
    overflow: hidden;
}
.data-comments-container > div.expandable.expanded 
.data-comments-comment {
    max-height: none;
}


.data-comments-container > div:focus .data-comments-comment-container {
    border-color: var(--border-color-focus);
    background: none;
}
.data-comments-comment-container-noimg {
    margin-left: 0;
}

.data-comments-comment-container:not(.data-comments-comment-container-noimg)::before {
    content: "";
    border-right: 10px solid var(--border-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    top: 4px; left: -10px;
    position: absolute;
}
.data-comments-container > div:focus 
.data-comments-comment-container:not(.data-comments-comment-container-noimg)::before {
    border-right-color: var(--border-color-focus);
}
.data-comments-comment-expand-prompt {
    background: linear-gradient(0deg, var(--background-color) 10%, rgba(0,0,0,0));
    height: 1rem;
    padding: 2px 5px;
    width: calc(100% - 10px);
    bottom: 0px; left: 0;
    text-align: right;
    position: absolute;
    font-size: 11px;
    display: none;
}
@media (orientation: landscape) {
    .data-comments-container > div.expandable-landscape:not(.expanded) .data-comments-comment-expand-prompt {
        display: unset;
    }
}
@media (orientation: portrait) {
    .data-comments-container > div.expandable-portrait:not(.expanded) .data-comments-comment-expand-prompt {
        display: unset;
    }
}
.data-comments-container > div:not(.expanded):focus .data-comments-comment-expand-prompt {
    background: linear-gradient(0deg, var(--accent-color-1) 10%, rgba(0,0,0,0));
}

/* comments sub menu */
#comments-sub-menu {
    z-index: 3;
}