body:not(.audiomode) #listen-mode-indicator,
body.audiomode #video-fill-osd,
#data-rating-description-disabled-label {display: none;}

#videoCont {
    /* min-height: 135px;
    max-height: 180px; */
    height:180px;
    position: relative;
    overflow: hidden;
}
#video {
    width:100%;height:100%;
    position: relative;
    z-index: -1;
    background: var(--video-display-background-color);
}

#data-rating-like::before,
#data-rating-dislike::before {
    content:"";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 2px;
    position: relative;
    top: 1px;
	clip-path: url('/img/rating/up-mc-and-mask.svg#thumb');
}
#data-rating-like {color: var(--like-text-color)}
#data-rating-like::before {background-color: var(--like-icon-color);}
#data-rating-dislike {color: var(--dislike-text-color)}
#data-rating-dislike::before {
	background-color: var(--dislike-icon-color);
	transform: scaleY(-1);
}
#data-rating > div {height: 12px;}
#data-rating:not(.hidden) {
    display: inline-block;
    font-size:10px;
    vertical-align: middle;
    font-weight: 600;
}

#data-viewcount {position: relative;top:2px;}
#data-viewcount::after {content: " ▶"}

#videoTimeText {
    position: absolute;
    right:4px;top:4px;
    border: 1px solid var(--border-color);
    padding: 0 2px;
    text-align: right;
    /* color:#c80000; */
    background:#000;
    border-radius: 3px;
}
#videoTimeTextMain {color: var(--accent-color-3);}
#videoTimeTextSub::before {content: "/"}
#videoTimeTextSub {
    color: var(--text-color-dim);
    font-size: 12px;
}

#infoTop, #infoBottom {overflow: hidden;white-space: nowrap; position: relative;padding: 5px;}
#infoTop > div {text-overflow: ellipsis;overflow: hidden;max-height: 22px;}
#data-title-cont img {
    vertical-align: middle;
    height:16px;
    position: relative;
    top: -2px;
    filter: invert(var(--icon-invert));
}
/* #title {position: relative; transition: opacity 500ms linear} */
#subtitle {font-size: 12px;}
#data-moreinfo {
    background: var(--background-color-o90);
    /* height: 100vh;
    width: 100vw; */
    z-index: 2;
}
#data-tabs-display > div {background: none;}
#data-moreinfo-body {
    height: calc(100% - 30px);
    width: 100%;
    position: relative;
}
#data-moreinfo-body > div {
    overflow:scroll;
    padding: 0 5px;
    height: 100%;
    width:calc(100% - 10px);
    position: absolute;
}
/* #data-moreinfo.hidden {top: 100vh;} */

#data-bottom-left-small, .data-metadataFull-subtitle, #data-extraAlert {font-size: 14px}
/* #data-metadataFull {color:#888} */
#data-fullTitle, #data-fullAuthor {font-style: italic;}
#data-description {padding: 3px 10px 50px 10px;}
#data-description a {color: var(--text-link-color)}
#data-metadata > div:not(#data-description) {padding: 3px 10px 5px 10px;}

.video-overlay {
    position: absolute;
    color:var(--text-color);
    left:0;top:0;
    width:100%;height:100%;
    overflow: hidden;
}
.video-overlay:not(.transparent) {
    background:var(--background-color-o75);
}

#audioModeDisplay {
    text-shadow: 0 0 3px #000;
    background: var(--video-display-background-color);
}
#audioModeDisplay-text {width: 100%}
#audioModeDisplay-text-musnote {
    font-size: 64px;
    line-height: 1.2;
}
#audioModeDisplay-img {
    /* width: 150%;
    height: 150%; */
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-size: cover;
    background-position: center center;
}
#audioModeDisplay-img.blur {
    --blur-rad: 6px;
    filter: blur(var(--blur-rad));
    width: calc(100% + (var(--blur-rad) * 2));
    height: calc(100% + (var(--blur-rad) * 2));
    /* opacity: 0.4; */
}
#audioModeDisplay.notext #audioModeDisplay-img {opacity: unset;}
#audioModeDisplay.notext #audioModeDisplay-text {display: none;}

#captions-renderer-cont {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
}
#captions-renderer {
    padding: 10px 5px;
    color: var(--caption-text-color);
}
#captions-renderer span {
    background: var(--caption-bg-color);
}
#captions-renderer.textoutline {
    text-shadow: 
	1px 1px #000,
	-1px -1px #000,
	1px -1px #000,
	-1px 1px #000,
	1px 0 #000,
	0 1px #000,
	-1px 0 #000,
	0 -1px #000;
}
#captions-renderer.textshadow {
    text-shadow: 1px 1px 2px #000, 1px 1px 1px #000;
}

#video-fill-osd-text {
    background: var(--background-color-o75);
    font-size: 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0 5px;
    min-width: 15%;
    text-align: center;
}

#videoLoader {text-align: center;}

#videoTime, #videoTimeIn, #videoTimeSegmentSkipping {height: 5px;}
#videoTime {
    background: var(--time-bar-background);
    position: relative;
}
#videoTimeIn {background: var(--time-bar-foreground)}
#videoTimeSegmentSkipping {width: 100%;}
#videoTimeSegmentSkipping div {
    position: absolute;
    height: 100%;
    top: 0;
    background: var(--background-color-o50);
}

#data-thumbnail {width: 50%;}
#data-thumbnail-container {
    /* width: calc(100% - 10px); */
    text-align: center;
}

#data-extraAlert div {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 2px;
    margin-top: 4px;

}

#data-rating-description-all-container {
    position: relative;
}

/* #data-rating-description-disabled-label is display none */
#data-rating-description-all-container.disabledRatings #data-rating-description-data-container {
    opacity: 0.2;
    filter: grayscale(1);
}
#data-rating-description-all-container.disabledRatings #data-rating-description-disabled-label {
    display: unset;
    position: absolute;
    text-align: center;
    /* topleft0 class */
    width: 100%;
    height: 100%;
}

#data-videoId {
    font-family: monospace
}

#data-rating-rating-percent-bar {
    background:var(--dislike-bar-color);
    color:var(--rating-bar-text-color);
    height:16px;
    font-size:12px;
    position: relative;
    text-align: right;
}
#data-rating-like-percent-bar {
    background:var(--like-bar-color);
    height:100%;
    position: absolute;
    text-align: left;
}
#data-rating-dislike-percent-bar {
    position: relative;
}

#data-rating-alt-rating-data-note {
    font-size: 12px;
    font-style: italic;
}

/* plpaylist osd */
#playlist-change-display {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    text-align: center;
    min-width: 40%;
    padding: 0 5px;
}
#playlist-change-display-text {
    font-size: 24px;
    position: relative;
    top: -4px;
    white-space: nowrap;
}

/* error screen */
#videoErrorOverlay {
    background: linear-gradient(180deg, var(--error-screen-gradient-color-1), var(--error-screen-gradient-color-2) 100%); 
    text-align: center;
    font-size: 14px;
    color: var(--error-screen-text-color);
    text-shadow: 2px 2px 0 var(--error-screen-text-shadow-color);
}
#videoErrorOverlay > div {width: 100%;}
#videoErrorText {padding: 5px;}
#videoErrorIcon {
    font-size: 36px;
    line-height: 0.85;
}

/* skip osd */
#videoSkipOverlay {
    --vsoPadding: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 0 var(--vsoPadding);
    background: var(--background-color-o75);
    height: var(--vsoHeight);

    --vsoImgSize: 18px;
}

.videoSkipOverlayShort {opacity: 0.3;}
#videoSkipOverlayShortImg {
    height: var(--vsoImgSize);
    right: var(--vsoPadding);
}
#videoSkipOverlayShortText {padding-right: var(--vsoImgSize);}

#videoSkipOverlayCont.minimized .videoSkipOverlayLong,
#videoSkipOverlayCont:not(.minimized) .videoSkipOverlayShort {
    display: none;
}