* {
    outline: none;
}
body {
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'open sans','noto sans',sans-serif;
    overflow: hidden;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-center {text-align: center;}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.text-no-wrap {white-space: nowrap;}

.hidden {
    display: none!important;
}
.topleft0 {
    top: 0;
    left: 0;
}
.dim {background: var(--background-color-o75)}
.dimmer {background: var(--background-color-o50)}
.solid-background {background: var(--background-color);}

.icon {filter: invert(var(--icon-invert))}

/* input[type="radio"], input[type="checkbox"] {
    border: var(--border-color);
} */

/* styled button with the red gradient */


@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
.fadeOutAnim {
    animation: fadeOut 1s linear forwards;
}